<div class="page-landing-starter landing-2">
    <section class="landing-banner"> 
        <div class="container">
          <div class="section-content">  
            <div class="landing-banner__text">
              <h4 class="landing-title">Ремонт стартера <br> от 300 гривен</h4>
              <div class="section-buttons">
                  <a href="#landing-service" class="btn-landing-2">Узнать подробнее</a>
              </div>
            </div>
          </div>
        </div>    
      </section> 
      <section class="landing-work">
        <div class="container">
          <h4 class="landing-sec-title"><span>Виды транспорта которые</span>Мы обслуживаем</h4>
          <div class="landing-work__list">
              <div class="landing-work__list__item">
                  <div class="landing-work__list__item__img landing-work__list__item__img1">
                  </div>
                  <h4 class="landing-work__item-title">Легковые автомобили</h4>
              </div>  
              <div class="landing-work__list__item">
                  <div class="landing-work__list__item__img landing-work__list__item__img2">
                  </div>
                  <h4 class="landing-work__item-title">Грузовые автомобили</h4>
              </div>
              <div class="landing-work__list__item">
                  <div class="landing-work__list__item__img landing-work__list__item__img3">
                  </div>
                  <h4 class="landing-work__item-title">Спецтехника</h4>
              </div>
              <div class="landing-work__list__item">
                  <div class="landing-work__list__item__img landing-work__list__item__img4">
                  </div>
                  <h4 class="landing-work__item-title">Сельхозтехника</h4>
              </div>
              <div class="landing-work__list__item">
                  <div class="landing-work__list__item__img landing-work__list__item__img5">
                  </div>
                  <h4 class="landing-work__item-title">Мототехника</h4>
              </div>
              <div class="landing-work__list__item">
                  <div class="landing-work__list__item__img landing-work__list__item__img6">
                  </div>
                  <h4 class="landing-work__item-title">Водотехника</h4>
              </div>
          </div>
        </div>  
      </section>
    <section class="landing-benefits">
        <div class="section-content">  
            <div class="landing-benefits__img-wrap">
                <div class="landing-benefits__img">
                </div>  
            </div>  
            <div class="landing-benefits__text-wrap">
              <div class="landing-benefits__text">
                <h4 class="landing-sec-title"><span>8 причин почему</span>Нам доверяют ремонт<br>более 15 лет</h4>  
                <div class="landing-benefits__list">
                    <div class="landing-benefits__list__item">
                        Экспресс ремонт<br> стартера от трех часов
                    </div>  
                    <div class="landing-benefits__list__item">
                        Снятие стартера с<br> машины и установка
                    </div>
                    <div class="landing-benefits__list__item">
                        Собственный склад<br> запчастей
                    </div>
                    <div class="landing-benefits__list__item">
                        Даем гарантию шесть<br> месяцев
                    </div>
                    <div class="landing-benefits__list__item">
                        Диагностика на<br> специализированном стенде
                    </div> 
                    <div class="landing-benefits__list__item">
                        Специальные уловия<br> сотрудничества для СТО и автомагазинов
                    </div>
                    <div class="landing-benefits__list__item">
                        Бесплатно заберем<br> стартер для диагностики<br> и ремонта в наш сервис
                    </div>
                    <div class="landing-benefits__list__item">
                        Совершенно бесплатно<br> привезем стартер<br> обратно после ремонта
                    </div>
                </div>  
              </div>  
            </div>  
        </div>
        <div class="landing-benefits__shape">
        </div>
    </section>
    <section class="landing-service" id="landing-service">
        <div class="container">
            <h4 class="landing-sec-title"><span>Виды ремонта который</span>Мы выполняем</h4>  
            <div class="landing-service__list">
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img1">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 150 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Замена щёток стартера</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img2">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 100 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Замена втулок стартера</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img3">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 400 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Ремонт бендикса</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img4">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 250 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Ремонт<br> втягивающего реле</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img5">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 1050 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Ремонт статора</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img6">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 500 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Ремонт якоря</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img7">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 200 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Проточка коллектора</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
                <div class="landing-service__list__item">
                    <div class="landing-service__list__item__inner">
                        <div class="landing-service__list__item__img-wrap">
                            <div class="landing-service__list__item__img landing-service__list__item__img8">
                            </div> 
                            <div class="landing-service__label-time">
                                от 3 часов  
                            </div>  
                            <div class="landing-service__label-price">
                                от 150 грн.
                            </div>
                        </div>  
                        <h4 class="landing-service__item-title">Замена подшипника</h4>
                        <button class="btn-landing-2" data-toggle="modal" data-target="#record-form">Записаться на ремонт</button>
                    </div>
                </div>
            </div> 
        </div>  
    </section>
    <section class="landing-service-delivery">
        <div class="section-content">
            <div class="landing-service-delivery__img-wrap">
                <div class="landing-service-delivery__img">
                </div>
            </div>
            <div class="landing-service-delivery__form-wrap">
              <div class="landing-service-delivery__form">  
                <h4 class="landing-sec-title"><span>Используйте возможность и</span>Закажите бесплатную<br> доставку стартера</h4>
                <div id="contact-form1" class="record-form">
                    <forma>
                        <div class="alert hidden"></div>
                        <input type="hidden" name="type" value="delivery">
                        <div class="form__row">
                            <input type="text" name="name" value="" id="contact-form1-name" class="form-control" placeholder="Введите имя">
                        </div>
                        <div class="form__row">
                            <input type="text" name="phone" value="" id="contact-form1-phone" class="form-control" placeholder="Введите телефон">
                        </div>
                        <div class="form__row">
                            <input type="text" name="address" value="" id="contact-form1-address" class="form-control" placeholder="Введите адрес">
                        </div>
                        <div class="section-buttons">
                            <button type="button" class="btn-landing-2 btn-landing-send">Заказать доставку</button>
                        </div>
                    </forma>
                </div>
              </div>  
            </div>
        </div> 
        <div class="landing-benefits__shape">
        </div>
    </section>  
    <section class="landing-price">
        <div class="container">
            <h4 class="landing-sec-title"><span>Ремонт стартера</span>Виды и стоимость работ</h4> 
            <div class="landing-price__list nano">
                <div class="nano-content">
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Диагностика агрегата в собраном виде на стенде
                        </div>  
                        <div class="landing-price__list__item__price">
                            100 грн.
                        </div>
                    </div> 
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Диагностика стартера  грузовых авто и спец. техники с разборкой и сборкой
                        </div>  
                        <div class="landing-price__list__item__price">
                            230 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Диагностика стартера легкового автомобиля с разборкой и сборкой
                        </div>  
                        <div class="landing-price__list__item__price">
                            150 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Диагностика стартера  грузовых автомобилей и спец. техники с разборкой
                        </div>  
                        <div class="landing-price__list__item__price">
                            150 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Диагностика стартера легкового автомобиля с разборкой
                        </div>  
                        <div class="landing-price__list__item__price">
                            120 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Слесарная работа
                        </div>  
                        <div class="landing-price__list__item__price">
                            125 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Замена втулок стартера
                        </div>  
                        <div class="landing-price__list__item__price">
                            100 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Замена втягивающего реле стартера
                        </div>  
                        <div class="landing-price__list__item__price">
                            150 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Замена подшипников стартера
                        </div>  
                        <div class="landing-price__list__item__price">
                            150 грн.
                        </div>
                    </div>
                    <div class="landing-price__list__item">
                        <div class="landing-price__list__item__text">
                            Замена щеток стартера (ремонт только щеточного узла или статора)
                        </div>  
                        <div class="landing-price__list__item__price">
                            150 грн.
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>  
    <section class="landing-all-service">
        <div class="container">
          <div class="section-content">
            <h4 class="landing-sec-title"><span>Другие услуги которые</span>Вас могут заинтересовать</h4> 
            <div class="landing-all-service__list">
                <div class="landing-all-service__list__item">
                    <div class="landing-all-service__list__item-inner">
                        <div class="landing-all-service__list__item__img landing-all-service__list__item__img1">
                        </div> 
                        <div class="landing-all-service__list__item__text">
                            <h4 class="landing-all-service__item-title">Ремонт<br class="desktop-only"> генератора</h4>  
                            <div class="landing-all-service__list__item__btn">
                                Узнать подробнее
                            </div>  
                        </div>
                    </div>  
                    <a href="/" class="landing-all-service__list__item__link"></a>
                </div>  
                <div class="landing-all-service__list__item">
                    <div class="landing-all-service__list__item-inner">
                        <div class="landing-all-service__list__item__img landing-all-service__list__item__img2">
                        </div> 
                        <div class="landing-all-service__list__item__text">
                            <h4 class="landing-all-service__item-title">Ремонт<br class="desktop-only"> мотора печки</h4>  
                            <div class="landing-all-service__list__item__btn">
                                Узнать подробнее
                            </div>  
                        </div>
                    </div>  
                    <a href="/" class="landing-all-service__list__item__link"></a>
                </div>
                <div class="landing-all-service__list__item">
                    <div class="landing-all-service__list__item-inner">
                        <div class="landing-all-service__list__item__img landing-all-service__list__item__img3">
                        </div> 
                        <div class="landing-all-service__list__item__text">
                            <h4 class="landing-all-service__item-title">Ремонт<br class="desktop-only"> электродвигателя</h4>  
                            <div class="landing-all-service__list__item__btn">
                                Узнать подробнее
                            </div>  
                        </div>
                    </div>  
                    <a href="/" class="landing-all-service__list__item__link"></a>
                </div>
                <div class="landing-all-service__list__item">
                    <div class="landing-all-service__list__item-inner">
                        <div class="landing-all-service__list__item__img landing-all-service__list__item__img4">
                        </div> 
                        <div class="landing-all-service__list__item__text">
                            <h4 class="landing-all-service__item-title">Сервис системы<br class="desktop-only"> кондиционирования</h4>  
                            <div class="landing-all-service__list__item__btn">
                                Узнать подробнее
                            </div>  
                        </div>
                    </div>  
                    <a href="/" class="landing-all-service__list__item__link"></a>
                </div>
                <div class="landing-all-service__list__item">
                    <div class="landing-all-service__list__item-inner">
                        <div class="landing-all-service__list__item__img landing-all-service__list__item__img5">
                        </div> 
                        <div class="landing-all-service__list__item__text">
                            <h4 class="landing-all-service__item-title">Купить<br class="desktop-only"> любую запчасть </h4>  
                            <div class="landing-all-service__list__item__btn">
                                Узнать подробнее
                            </div>  
                        </div>
                    </div>  
                    <a href="/" class="landing-all-service__list__item__link"></a>
                </div>
                <div class="landing-all-service__list__item">
                    <div class="landing-all-service__list__item-inner">
                        <div class="landing-all-service__list__item__img landing-all-service__list__item__img6">
                        </div> 
                        <div class="landing-all-service__list__item__text">
                            <h4 class="landing-all-service__item-title">Стать нашим<br class="desktop-only"> партнером </h4>  
                            <div class="landing-all-service__list__item__btn">
                                Узнать подробнее
                            </div>  
                        </div>
                    </div>  
                    <a href="/" class="landing-all-service__list__item__link"></a>
                </div>
            </div>  
          </div>  
        </div>   
        <div class="landing-all-service__shape">
        </div>
    </section>  
      <section class="landing-location">
          <div class="container">
              <h4 class="l-sec-title">Как нас найти?</h4>
              <div class="section-content">
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, ул.Полтавский шлях, 79, метро "Южный вокзал" 
                          </div>
                      </div>
                      <div class="landing-location-item__video">
                          <iframe width="100%" height="100%" src="//www.youtube.com/embed/YS7YiQ1L4_M?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, просп. 50-летия ВЛКСМ, 182, метро "Барабашово"
                          </div>
                      </div>
                      <div class="landing-location-item__video">
                          <iframe width="100%" height="100%" src="//www.youtube.com/embed/Ml6KhBkPcwY?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="landing-callback landing-callback3">
          <div class="container">
              <div class="section-content">
                  <div class="landing-callback__form">
                      <div id="contact-form3" class="landing-form record-form">
                          <forma>
                              <div class="alert hidden"></div>
                              <input type="hidden" name="type" value="repaire">
                              <input type="hidden" name="service" id="record-form-service" value="скидка 10%">
                              <div class="form__title">
                                  Запишитесь в сервис прямо сейчас и получите скидку 10% на первый визит!
                              </div>
                              <div class="form__row">
                                  <input type="text" name="name" value="" id="contact-form3-name" class="form-control" placeholder="Ваше имя">
                              </div>
                              <div class="form__row">
                                  <input type="text" name="phone" value="" id="contact-form3-phone" class="form-control" placeholder="Номер телефона">
                              </div>
                              <div class="form__row">
                                  <label class="sorter-label" for="contact-form3-location">Выберите сервис, в который записать Вас:</label>
                                  <select name="enquiry" id="contact-form3-location" class="form-control">
                                      <option selected="selected">
                                          Харьков, просп. 50-летия ВЛКСМ, 180 (метро Барабашова)        
                                      </option>
                                      <option>
                                          ул.Полтавский шлях, 79, (метро Южный вокзал)
                                      </option>
                                  </select>
                              </div>
                              <div class="form__row">
                                  <button type="button" class="btn-landing btn-main btn-landing-send">Отправить</button>
                              </div>
                          </forma>
                      </div>
                  </div>
                  <div class="landing-callback__text">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, ул.Полтавский шлях, 79, метро "Южный вокзал"<br> 
                              <a href="tel:+380674642744">+380 (67) 464 - 27 - 44</a>
                          </div>
                      </div>
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков ,просп. 50-летия ВЛКСМ, 182, метро "Барабашово"<br> 
                              <a href="tel:+380673041744">+380 (67) 304 - 17 - 44</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="landing-map">
          <div class="container">
              <h4 class="l-sec-title">Наши точки на Google Картах</h4>
              <div class="section-content">
                <div class="landing-map__col">
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, ул.Полтавский шлях, 79, метро "Южный вокзал" 
                          </div>
                      </div>
                  </div>
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, просп. 50-летия ВЛКСМ, 182, метро "Барабашово"
                          </div>
                      </div>
                  </div>
                  <h4 class="landing-map-ch-title">Наши сервисы в других городах</h4>
                  <div class="landing-map__item">
                      <div class="landing-map__title">
                          Запорожье
                      </div>
                      <a href="" class="btn-landing btn-main">Перейти на страницу города</a>
                  </div>
                  <div class="landing-map__item">
                      <div class="landing-map__title">
                          Днепр
                      </div>
                      <a href="" class="btn-landing btn-main">Перейти на страницу города</a>
                  </div>
                </div>  
                <div class="landing-map__col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d41048.016102208894!2d36.224508295958614!3d49.98321577796791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zU3RhcnRlcm9rLnVhINCl0LDRgNGM0LrQvtCy!5e0!3m2!1sru!2sua!4v1629983577619!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
          </div>
      </section>
      <div class="container">
          <div id="seo-box" class="seo-text">
              <div class="seo-box-content seo-text-short">
                  <h1>SEO title</h1>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="seo-text-more">
                  <a class="seo-text-btn" href="#seo-box" id="seo-text-read-more">Читать полностью</a>
              </div>
          </div>   
      </div>
      <div id="record-form" class="modal modal-message record-form">
      <forma>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header record-form__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="record-form__title">Форма записи</h4> 
                    <div class="record-form__text">Заполните форму ниже и мы свяжемся с Вами</div>
                </div>
                <div class="modal-body record-form__body">
                    <div class="alert hidden"></div>
                    <input type="hidden" name="type" value="repaire">
                    <input type="hidden" name="service" id="record-form-service" value="">
                    <div class="form__row">
                        <input type="text" name="name" value="" id="record-form-name" class="form-control" placeholder="Ваше имя">
                    </div>
                    <div class="form__row">
                              <input type="text" name="phone" value="" id="record-form-phone" class="form-control" placeholder="Номер телефона">
                    </div>
                    <div class="form__row">
                        <label class="sorter-label" for="record-form-location">Выберите сервис, в который записать Вас:</label>
                        <select name="enquiry" id="record-form-location" class="form-control">
                            <option selected="selected">
                                Харьков, просп. 50-летия ВЛКСМ, 180 (метро Барабашова)        
                            </option>
                            <option>
                                ул.Полтавский шлях, 79, (метро Южный вокзал)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer record-form__footer">
                    <button type="button" class="btn-landing btn-main btn-landing-send">Отправить</button>
                </div>
            </div>
        </div>
      </forma>
    </div>
</div>