<div class="page-landing-conditioner">
<section class="landing-banner"> 
        <div class="container">
          <div class="section-content">  
            <div class="landing-banner__text">
              <h1>Заправка и ремонт автокондиционеров</h1>
              <div class="landing-banner__info">
                  <div class="landing-banner__info__item">
                      <div class="landing-banner__info__item__img ic-banner-1">
                      </div>
                      <div class="landing-banner__info__item__text">
                          Профессиональное итальянское оборудование
                      </div>
                  </div>
                  <div class="landing-banner__info__item">
                      <div class="landing-banner__info__item__img ic-banner-2">
                      </div>
                      <div class="landing-banner__info__item__text">
                          Поиск неисправности
                      </div>
                  </div>
                  <div class="landing-banner__info__item">
                      <div class="landing-banner__info__item__img ic-banner-3">
                      </div>
                      <div class="landing-banner__info__item__text">
                          Заправка и дозаправка
                      </div>
                  </div>
                  <div class="landing-banner__info__item">
                      <div class="landing-banner__info__item__img ic-banner-4">
                      </div>
                      <div class="landing-banner__info__item__text">
                          Антибактериальная очистка 
                      </div>
                  </div>
              </div>
              <div class="section-buttons">
                  <a href="#landing-service" class="btn-landing btn-main">Подробнее</a>
                  <button class="btn-landing btn-transparent" data-toggle="modal" data-target="#record-form">Записаться</button>
              </div>
            </div>
            <div class="landing-banner__img">
            </div>
          </div>
        </div>   
        <div class="landing-banner__bg">
        </div>  
      </section> 
      <section class="landing-video">
        <div class="container">
          <h2>Компания «Стартерок» - более 10 лет опыта ремонта и продаж в сегменте автозапчастей автомобильные стартеры и генераторы.</h2>
          <div class="landing-video__text">
              Наша компания более 10 лет специализируется только на автомобильных стартерах, генераторах и комплектующих к ним. С самого начала нашей работы мы занимаемся не только ремонтом, но и продажей автозапчастей. Стартерок является официальным представителем и импортером автозапчастей брендов CARGO, PSH, PLUS LINE, WAI, PROTECH в Украине. Мы всегда сможем предложить Вам лучшую цену на рынке.
          </div>
          <div class="landing-video__video-wrap">
              <iframe width="100%" height="100%" src="//www.youtube.com/embed/kAtAeIJdKEw?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>  
      </section>
      <section class="landing-callback landing-callback1">
        <div class="landing-callback_inner">
        <div class="landing-callback_img">
        <div class="container">
          <div class="section-content">
              <div class="landing-callback__text">
                  <h2>Гарантия на отремонтированные стартеры и генераторы 6 месяцев</h2>
                  <div class="landing__text">
                      Бесплатная доставка агрегата на ремонт и обратно 
                  </div>  
              </div>
              <div class="landing-callback__form">
                  <div id="contact-form1" class="landing-form record-form">
                      <forma>
                          <div class="alert hidden"></div>
                          <input type="hidden" name="type" value="repaire">
                          <div class="form__row">
                              <input type="text" name="name" value="" id="contact-form1-name" class="form-control" placeholder="Ваше имя">
                          </div>
                          <div class="form__row">
                              <input type="text" name="phone" value="" id="contact-form1-phone" class="form-control" placeholder="Номер телефона">
                          </div>
                          <div class="form__row">
                              <label class="sorter-label" for="contact-form1-location">Выберите сервис, в который записать Вас:</label>
                              <select name="enquiry" id="contact-form1-location" class="form-control">
                                  <option selected="selected">
                                      Харьков, просп. 50-летия ВЛКСМ, 180 (метро Барабашова)        
                                  </option>
                                  <option>
                                      ул.Полтавский шлях, 79, (метро Южный вокзал)
                                  </option>
                              </select>
                          </div>
                          <div class="form__row">
                              <button type="button" class="btn-landing btn-main">Отправить</button>
                          </div>
                      </forma>
                  </div>
              </div>
          </div>
        </div>  
        </div>
        </div>
      </section>
      <section class="landing-about">
         <div class="container">
             <div class="section-content">
                 <div class="landing-about__item animate-delay1">
                     <div class="landing-about__item__img">
                          <img src="/image/landing/over-wheels.svg">
                      </div>
                      <div class="landing-about__item__text">
                          Доставка на ремонт и после ремонта
                      </div>
                 </div>
                 <div class="landing-about__item animate-delay2">
                     <div class="landing-about__item__img">
                          <img src="/image/landing/medal.svg">
                      </div>
                      <div class="landing-about__item__text">
                          Только качественные комплектующие
                      </div>
                 </div>
                 <div class="landing-about__item animate-delay3">
                     <div class="landing-about__item__img">
                          <img src="/image/landing/edit-tools.svg">
                      </div>
                      <div class="landing-about__item__text">
                          Ремонт любой сложности
                      </div>
                 </div>
                 <div class="landing-about__item animate-delay4">
                     <div class="landing-about__item__img">
                          <img src="/image/landing//professions-and-jobs.svg">
                      </div>
                      <div class="landing-about__item__text">
                          Более 10 лет опыта
                      </div>
                 </div>
             </div>
         </div> 
      </section>
      <section class="landing-callback landing-callback2">
        <div class="landing-callback_inner">
        <div class="landing-callback_img">
        <div class="container">
          <div class="section-content">
              <div class="landing-callback__form">
                  <div id="contact-form2" class="landing-form record-form">
                      <forma>
                          <div class="alert hidden"></div>
                          <input type="hidden" name="type" value="repaire">
                          <div class="form__row">
                              <input type="text" name="name" value="" id="contact-form2-name" class="form-control" placeholder="Ваше имя">
                          </div>
                          <div class="form__row">
                              <input type="text" name="phone" value="" id="contact-form2-phone" class="form-control" placeholder="Номер телефона">
                          </div>
                          <div class="form__row">
                              <label class="sorter-label" for="contact-form2-location">Выберите сервис, в который записать Вас:</label>
                              <select name="enquiry" id="contact-form2-location" class="form-control">
                                  <option selected="selected">
                                      Харьков, просп. 50-летия ВЛКСМ, 180 (метро Барабашова)        
                                  </option>
                                  <option>
                                      ул.Полтавский шлях, 79, (метро Южный вокзал)
                                  </option>
                              </select>
                          </div>
                          <div class="form__row">
                              <button type="button" class="btn-landing btn-main">Записаться на диагностику</button>
                          </div>
                      </forma>
                  </div>
              </div>
              <div class="landing-callback__text">
                  <h2>Мы проводим диагностику на высококачественном профессиональном оборудовании, что позволяет получить максимально точные данные.</h2>
                  <div class="landing__text">
                      <span>Стоимость диагностики 100 грн</span>
                      *при дальнейшем ремонте, диагностика БЕСПЛАТНО
                  </div>  
              </div
          </div>
        </div>
        </div>  
        </div>
      </section>
      <section class="landing-service" id="landing-service">
        <div class="container">
          <div class="section-content">
          <div class="landing-service__item">
              <div class="landing-service__item__top">
                  Заправка и ремонт автокондиционеров
              </div>
              <div class="landing-service__item__inner">
              <ul class="landing-service__price">
                  <li class="landing-service__price__item">
                    Антибактериальная обработка испарителя кондиционера - <strong> 780 грн</strong>
                  </li>
                  <li class="landing-service__price__item">
                    Диагностика компрессора кондиционера - <strong> 250 грн</strong>
                  </li>
              </ul>
              <button class="btn-landing btn-main" data-toggle="modal" data-target="#record-form">Записаться</button>
              </div>
          </div>
          </div> 
        </div>  
      </section>
      <section class="landing-service-details">
          <div class="container">
              <div class="section-content">
                  <div class="landing-service-details__col">
                      <h2>Гарантия 6 месяцев на запчасти и выполненный ремонт</h2>
                      <div class="landing__text">
                          Даже, чтобы просто поменять втулки в стартере или подшипники в генераторе, нужно практически полностью разобрать агрегат. На наш взгляд, по отношению к клиенту будет честным поменять все запчасти, требующие замены, если стартер или генератор уже разобраны. Без дополнительной платы за замену каждой детали.Мы предоставляем гарантию на ремонт и запчасти в течении 3х месяцев. 
                      </div>
                  </div>
                  <div class="landing-service-details__col">
                      <div class="landing-service-details__item">
                          <div class="landing-service-details__item__inner">
                              <div class="landing-service-details__item__title">
                                  Ремонт стартера Opel Omega B 2.0 i 16V
                              </div>
                              <div class="landing-service-details__item__price">
                                  Цена ремонта и запчастей 1950 грн
                              </div> 
                              <div class="landing__text">
                                  Полностью заменены на новые: щёточный узел, бендикс, втулки передняя и задняя, планетарка редуктора и вилка. В стоимость входит снятие и установка на автомобиль.
                              </div>
                          </div>  
                      </div>
                      <div class="landing-service-details__item">
                          <div class="landing-service-details__item__inner">
                              <div class="landing-service-details__item__title">
                                  Ремонт генератора HONDA CR-V 2.4 VTEC
                              </div>
                              <div class="landing-service-details__item__price">
                                  Цена ремонта и запчастей 1950 грн
                              </div> 
                              <div class="landing__text">
                                  Полностью заменены на новые: щёточный узел, бендикс, втулки передняя и задняя, планетарка редуктора и вилка. В стоимость входит снятие и установка на автомобиль.
                              </div>
                          </div>  
                      </div>
                      <div class="landing-service-details__item">
                          <div class="landing-service-details__item__inner">
                              <div class="landing-service-details__item__title">
                                  Ремонт стартера SKODA Octavia 2.0
                              </div>
                              <div class="landing-service-details__item__price">
                                  Цена ремонта и запчастей 1950 грн
                              </div> 
                              <div class="landing__text">
                                  Полностью заменены на новые: щёточный узел, бендикс, втулки передняя и задняя, планетарка редуктора и вилка. В стоимость входит снятие и установка на автомобиль.
                              </div>
                          </div>  
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="landing-photo">
          <div class="container">
              <div class="section-content">
                 <div class="landing-photo__img">
                     <div class="landing-photo__img__main landing-photo__img__main1 active">
                     </div>
                     <div class="landing-photo__img__main landing-photo__img__main2">
                     </div>
                     <div class="landing-photo__img__list">
                         <div class="landing-photo__img__list__item landing-photo__img__list__item1"></div>
                         <div class="landing-photo__img__list__item landing-photo__img__list__item2"></div>
                     </div>
                 </div>
                 <div class="landing-photo__text">
                     <h2>Фото из наших мастерских</h2>
                      <div class="landing__text">
                          В "СтартерОК" работают только высококвалифицированные специалисты, которые знают о своем деле все! Это позволяет делать работу качественно и быстро!
                      </div>
                 </div>
              </div>
          </div>
      </section>
      <section class="landing-location">
          <div class="container">
              <h2>Как нас найти?</h2>
              <div class="section-content">
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, ул.Полтавский шлях, 79, метро "Южный вокзал" 
                          </div>
                      </div>
                      <div class="landing-location-item__video">
                          <iframe width="100%" height="100%" src="//www.youtube.com/embed/YS7YiQ1L4_M?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, просп. 50-летия ВЛКСМ, 182, метро "Барабашово"
                          </div>
                      </div>
                      <div class="landing-location-item__video">
                          <iframe width="100%" height="100%" src="//www.youtube.com/embed/Ml6KhBkPcwY?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="landing-callback landing-callback3">
          <div class="container">
              <div class="section-content">
                  <div class="landing-callback__form">
                      <div id="contact-form3" class="landing-form record-form">
                          <forma>
                              <div class="alert hidden"></div>
                              <input type="hidden" name="type" value="repaire">
                              <div class="form__title">
                                  Запишитесь в сервис прямо сейчас и получите скидку 10% на первый визит!
                              </div>
                              <div class="form__row">
                                  <input type="text" name="name" value="" id="contact-form3-name" class="form-control" placeholder="Ваше имя">
                              </div>
                              <div class="form__row">
                                  <input type="text" name="phone" value="" id="contact-form3-phone" class="form-control" placeholder="Номер телефона">
                              </div>
                              <div class="form__row">
                                  <label class="sorter-label" for="contact-form3-location">Выберите сервис, в который записать Вас:</label>
                                  <select name="enquiry" id="contact-form3-location" class="form-control">
                                      <option selected="selected">
                                          Харьков, просп. 50-летия ВЛКСМ, 180 (метро Барабашова)        
                                      </option>
                                      <option>
                                          ул.Полтавский шлях, 79, (метро Южный вокзал)
                                      </option>
                                  </select>
                              </div>
                              <div class="form__row">
                                  <button type="button" class="btn-landing btn-main">Отправить</button>
                              </div>
                          </forma>
                      </div>
                  </div>
                  <div class="landing-callback__text">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, ул.Полтавский шлях, 79, метро "Южный вокзал"<br> 
                              <a href="tel:+380674642744">+380 (67) 464 - 27 - 44</a>
                          </div>
                      </div>
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков ,просп. 50-летия ВЛКСМ, 182, метро "Барабашово"<br> 
                              <a href="tel:+380673041744">+380 (67) 304 - 17 - 44</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="landing-map">
          <div class="container">
              <h2>Наши точки на Google Картах</h2>
              <div class="section-content">
                <div class="landing-map__col">
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, ул.Полтавский шлях, 79, метро "Южный вокзал" 
                          </div>
                      </div>
                  </div>
                  <div class="landing-location-item">
                      <div class="landing-location-address">
                          <div class="landing-location-address__img">
                              <img src="/image/landing/location.svg">
                          </div>
                          <div class="landing__text">
                              Харьков, просп. 50-летия ВЛКСМ, 182, метро "Барабашово"
                          </div>
                      </div>
                  </div>
                  <h3>Наши сервисы в других городах</h3>
                  <div class="landing-map__item">
                      <div class="landing-map__title">
                          Запорожье
                      </div>
                      <a href="" class="btn-landing btn-main">Перейти на страницу города</a>
                  </div>
                  <div class="landing-map__item">
                      <div class="landing-map__title">
                          Днепр
                      </div>
                      <a href="" class="btn-landing btn-main">Перейти на страницу города</a>
                  </div>
                </div>  
                <div class="landing-map__col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d41048.016102208894!2d36.224508295958614!3d49.98321577796791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zU3RhcnRlcm9rLnVhINCl0LDRgNGM0LrQvtCy!5e0!3m2!1sru!2sua!4v1629983577619!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
          </div>
      </section>
      <section class="landing-faq">
          <div class="container">
              <h2>Заправка и ремонт автокондиционеров</h2>
              <div class="landing-text">
                  Наша компания более 10 лет специализируется только на автомобильных стартерах, генераторах и комплектующих к ним. С самого начала нашей работы мы занимаемся не только ремонтом, но и продажей автозапчастей. Стартерок является официальным представителем и импортером автозапчастей брендов CARGO, PSH, PLUS LINE, WAI, PROTECH в Украине. Мы всегда сможем предложить Вам лучшую цену на рынке.
              </div>
              <h3>Часто задаваемые вопросы</h3>
              <ul class="faq-list">
                  <li class="exp-content-block" data-behavior="accordion">
                    <a href="javascript:void(0)" class="exp-caption faq-list__caption" data-target="faq-desc__item-1" itemprop="name"><span>Вопрос 1</span></a>
                    <div class="exp-content faq-list__text" id="faq-desc__item-1"><div itemprop="text">Ответ 1</div></div>
                  </li>
                  <li class="exp-content-block" data-behavior="accordion">
                    <a href="javascript:void(0)" class="exp-caption faq-list__caption" data-target="faq-desc__item-2" itemprop="name"><span>Вопрос 2</span></a>
                    <div class="exp-content faq-list__text" id="faq-desc__item-2"><div itemprop="text">Ответ 2</div></div>
                  </li>
              </ul>
          </div>
      </section>
      <section class="landing-reviews">
          <div class="container">
              <h2>Отзывы</h2>
              <ul class="review-list">
                  <li class="review-list__item">
                      <div class="review-list__item__data">
                          <div class="review-list__item__name">
                              Лариса
                          </div>
                          <div class="review-list__item__date">
                              04 августа 2021
                          </div>
                          <div class="review-list__item__rate">
                              <span>★★★★★</span>
                          </div>
                      </div>
                      <div class="landing__text">
                          Текст
                      </div>
                  </li>
                  <li class="review-list__item">
                      <div class="review-list__item__data">
                          <div class="review-list__item__name">
                              Лариса
                          </div>
                          <div class="review-list__item__date">
                              04 августа 2021
                          </div>
                          <div class="review-list__item__rate">
                              <span>★★★★★</span>
                          </div>
                      </div>
                      <div class="landing__text">
                          Текст
                      </div>
                  </li>
              </ul>
          </div>
      </section>
      <div id="record-form" class="modal modal-message record-form">
      <forma>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header record-form__header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="record-form__title">Форма записи</h4> 
                    <div class="record-form__text">Заполните форму ниже и мы свяжемся с Вами</div>
                </div>
                <div class="modal-body record-form__body">
                    <div class="alert hidden"></div>
                    <input type="hidden" name="type" value="repaire">
                    <div class="form__row">
                        <input type="text" name="name" value="" id="record-form-name" class="form-control" placeholder="Ваше имя">
                    </div>
                    <div class="form__row">
                              <input type="text" name="phone" value="" id="record-form-phone" class="form-control" placeholder="Номер телефона">
                    </div>
                    <div class="form__row">
                        <label class="sorter-label" for="record-form-location">Выберите сервис, в который записать Вас:</label>
                        <select name="enquiry" id="record-form-location" class="form-control">
                            <option selected="selected">
                                Харьков, просп. 50-летия ВЛКСМ, 180 (метро Барабашова)        
                            </option>
                            <option>
                                ул.Полтавский шлях, 79, (метро Южный вокзал)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer record-form__footer">
                    <button type="button" class="btn-landing btn-main">Отправить</button>
                </div>
            </div>
        </div>
      </forma>
    </div>
</div>    